@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}